{% extends 'basic.html' %}

{% block body_block %}
  <!-- <h3>BALANCE : {{balance.date}}</h3>
  <!-- {% for x in balance %}
    <p>{{x.user.username}}</p>
  {% endfor %} -->
  <!-- <h3>hello</h3> -->
  <!-- <p></p><p></p><p></p>
  <form method="post">
    {%csrf_token%}
    <p>Deposit Money : {{adder.as_p}}<input type="submit" name="deposit" value="Deposit"></p>
    <p>Deposit Money : {{adder.as_p}}<input type="submit" name="withdraw" value="Withdrwa"></p>
  </form>-->
  <h1>h{{user}}</h1>
  {% for x in uservi %}
      {{x}}<p>f</p>
  {% endfor %}
{% endblock %}
